{% extends 'base.html'%}
{% block title %}Book{% endblock %}
{% block content %}
<section class="section">
    <div class="categories">
    </div>
    <div class="wraper">
         <div class="wraper_content">
         </div>
            <div class="paginate wrapper">
                <ul>
                    <li class="paginate_moduls"><a href="#">&lang;</a></li>
                    <li class="paginate_moduls"><a href="#"class="active">1</a></li>
                    <li class="paginate_moduls"><a href="#" class="inactive">2</a></li>
                    <li class="paginate_moduls"><a href="#">3</a></li>
                    <li class="paginate_moduls"><a href="#" class="more">&hellip;</a></li>
                    <li class="paginate_moduls"><a href="#">&rang;</a></li>
                </ul>
            </div>      
        </div>
    </section>
<script src="{{ url_for('static', filename='js/fetch_api.js') }}"></script>
{% endblock %}


