<footer>
    <section class="footer">
    <div class="categ">
        <div class="wraper_cat">
            <div class="categ-block">
                <div class="categ-col">
                    <span class="categ-head">Biography & True Stories</span>
                    <ul class="categ-list">
                        <li><a href="#">General</a></li><hr>
                        <li><a href="#">Diaries, Letters & Journals</a></li><hr>
                        <li><a href="#">Memoirs</a></li><hr>
                        <li><a href="#">True Stories</a></li><hr>
                        <li><a href="#">Genetic Exams</a></li><hr>
                        <li><a href="#">Medical Entrance</a></li><hr>
                        <li><a href="#">Other Entrance Exams</a></li><hr>
                        <li><a href="#">PG Entrance Examinations</a></li><hr>
                        <li><a href="#">Self-help Titles</a></li><hr>
                        <li><a href="#">Sociology</a></li>
                    </ul>
                </div>
                <div class="categ-col">
                    <span class="categ-head">Professional & Reference</span>
                    <ul class="categ-list">
                        <li><a href="#">Academic and Reference</a></li><hr>
                        <li><a href="#">Business Trade</a></li><hr>
                        <li><a href="#">Engineering and Computer Science</a></li><hr>
                        <li><a href="#">Introduction to Computers</a></li><hr>
                        <li><a href="#">Science and Math</a></li><hr>
                        <li><a href="#">Trade Business</a></li><hr>
                        <li><a href="#">English Language & Literature</a></li><hr>
                        <li><a href="#">English Language Teaching</a></li><hr>
                        <li><a href="#">Environment Awareness</a></li><hr>
                        <li><a href="#">Environment Protection</a></li>
                    </ul>
                </div>
                <div class="categ-col">
                    <span class="categ-head">Earth Sciences</span>
                    <ul class="categ-list">
                        <li ><a href="#">Earth Sciences</a></li><hr>
                        <li><a href="#">Geography</a></li><hr>
                        <li><a href="#">The Environment</a></li><hr>
                        <li><a href="#">Regional & Area Planning</a></li><hr>
                        <li><a href="#">Fantasy</a></li><hr>
                        <li><a href="#">Humorous</a></li><hr>
                        <li><a href="#">Interactive</a></li><hr>
                        <li><a href="#">Legal</a></li><hr>
                        <li><a href="#">Lesbian</a></li><hr>
                        <li><a href="#">Men's Adventure</a></li>
                    </ul>
                </div>
                <div class="categ-col">
                    <span class="categ-head">Mathematics</span>
                    <ul class="categ-list">
                        <li><a href="#">Algebra</a></li><hr>
                        <li><a href="#">Differential Equations</a></li><hr>
                        <li><a href="#">Discrete Mathematics</a></li><hr>
                        <li><a href="#">Fourier Analysis</a></li><hr>
                        <li><a href="#">Numerical Analysis</a></li><hr>
                        <li><a href="#">Statistical Methods/data Analysis</a></li><hr>
                        <li><a href="#">Stochastic And  Random Processes</a></li><hr>
                        <li><a href="#">Topology</a></li><hr>
                        <li><a href="#">Statistics</a></li><hr>
                        <li><a href="#">Mathematics</a></li>
                    </ul>
               </div>
            </div>
        </div>
    </div>
    <div class="payments">
        <span>We accept all major Credit Card/Debit Card/Internet Banking</span>
    </div>
</section>
</footer>